<div class="" style="min-height: 100vh">
  <!-- Search Field -->
  <div class="container-fluid mb-3" style="min-height: 40vh">
    <div class="row">
      <h1 class="display-5 text-center text-white mt-5 mb-2">
        Search your Postal Code
      </h1>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4 mx-auto mt-4 p-4">
        <form (ngSubmit)="getPinData()" [formGroup]="searchForm">
          <div class="mb-3 mx-auto">
            <div class="input-group">
              <input
                type="text"
                formControlName="pincode"
                pattern="[0-9]+"
                minlength="6"
                maxlength="6"
                class="form-control shadow-none"
                [class.is-invalid]="
                  searchForm.get('pincode')?.hasError('minlength') ||
                  searchForm.get('pincode')?.hasError('pattern')
                "
                [class.border-danger]="
                  searchForm.get('pincode')?.hasError('required') &&
                  searchForm.get('pincode')?.touched
                "
                id="floatingInput"
                title="Enter Postal code"
                placeholder="Postal Code"
              />
              <button
                type="submit"
                class="btn btn-light border-dark"
                [disabled]="spinner || !searchForm.valid"
              >
                Get
              </button>
            </div>
            <small
              class="text-center text-white"
              *ngIf="
                searchForm.get('pincode')?.hasError('minlength') ||
                searchForm.get('pincode')?.hasError('pattern')
              "
              >*Enter valid postal code.</small
            >
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Error Message -->
  <div class="container mt-5" *ngIf="errorMsg">
    <div class="col-sm-5 mt-5 px-2 mx-auto">
      <div
        class="alert alert-warning rounded-3 show"
        role="alert"
        *ngIf="errorMsg"
      >
        <strong>Error Occured!</strong> {{ errorMsg }} .
      </div>
    </div>
  </div>
  <!-- Output section -->
  <div
    *ngIf="errorStatus == 'Success'"
    class="container mb-5 rounded-3 py-4 mt-2"
  >
    <div class="row mb-3 px-2">
      <div class="col p-1 px-3 pt-3" *ngFor="let list1 of arrRes">
        <h2 class="text-white">
          <strong>Your Query : </strong
          ><span class="text-decoration-underline">{{ pincode }}</span>
        </h2>
        <p class="text-white">
          <strong>Total List : </strong
          ><span class="text-decoration-underline fw-bold">
            {{ list1.Message | split }}</span
          >
        </p>
      </div>
    </div>
    <div class="row px-3 px-md-0" *ngFor="let list of arrRes">
      <div
        class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3"
        *ngFor="let subList of list.PostOffice"
      >
        <div class="card rounded-4 bg-white shadow">
          <div class="card-body">
            <h5 class="card-title">{{ subList.Name }}</h5>
            <hr />
            <p class="card-text">
              <span><strong>Country :</strong> {{ subList.Country }}</span
              ><br />
              <span><strong>Division :</strong> {{ subList.Division }}</span
              ><br />
              <span><strong>Region :</strong> {{ subList.Region }}</span
              ><br />
              <span><strong>Block :</strong> {{ subList.Block }}</span
              ><br />
              <span><strong>District :</strong> {{ subList.District }}</span
              ><br />
              <span><strong>State :</strong> {{ subList.State }}</span
              ><br />
              <span><strong>Pincode :</strong> {{ subList.Pincode }}</span
              ><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Loading Animation -->
<div class="container-fluid loading-anim" *ngIf="spinner">
  <div class="bg-white">
    <p class="fs-3 fw-light text-center">Getting data ...</p>
    <span class="spinner-border" role="status" aria-hidden="true"></span>
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="container-fluid bg-light">
    <div class="row py-3 py-sm-4 py-md-5 px-3 px-sm-4 px-md-5">
      <div class="col-12 col-md-6 py-4 px-2 px-sm-3 px-md-4">
        <h4>Postal Code Finder</h4>
        <p class="fs-6">
          Designed and built for project purpose. I'm <b>LP</b>,
          <b><i>Web Dev</i></b
          >. Completed <q>Full stack Dev</q>. Here is my
          <a
            href="https://lp-user1.github.io"
            target="_blank"
            rel="noopener noreferrer"
            >Portfolio</a
          >
          👈🏻 check it out.
        </p>
        <p class="fs-6">
          All data has been gather from official <b>India's</b> Postal pincode
          Service.
        </p>
        <p class="fs-6">All rights reserved @{{ cYear }}</p>
      </div>
      <div class="col-12 col-sm-6 py-4 px-2 px-sm-3 px-md-4">
        <h4>Links</h4>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://lp-user1.github.io"
              class="text-dark"
              target="_blank"
              rel="noopener noreferrer"
              >Portfolio</a
            >
          </li>
          <li>
            <a
              href="https://lp-user1.github.io/RTO-Finder"
              class="text-dark"
              target="_blank"
              rel="noopener noreferrer"
              >RTO Finder</a
            >
          </li>
          <li>
            <a
              href="https://github.com/LP-user1"
              class="text-dark"
              target="_blank"
              rel="noopener noreferrer"
              >Github Profile</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
