<div class="" style="min-height: 50vh">
  <!-- Search Field -->
  <div class="container-fluid hero-area shadow-lg">
    <div class="row">
      <h1 class="display-5 text-center text-white mt-3 mb-1">
        Search your Postal Code
      </h1>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4 mx-auto mt-4 p-4">
        <form (ngSubmit)="getPinData()" [formGroup]="searchForm">
          <div class="mb-3 mx-auto">
            <div class="input-group">
              <input
                type="text"
                formControlName="pincode"
                pattern="[0-9]+"
                minlength="6"
                maxlength="6"
                class="form-control shadow-none"
                [class.is-invalid]="
                  searchForm.get('pincode')?.hasError('minlength') ||
                  searchForm.get('pincode')?.hasError('pattern')
                "
                [class.border-danger]="
                  searchForm.get('pincode')?.hasError('required') &&
                  searchForm.get('pincode')?.touched
                "
                id="floatingInput"
                title="Enter Pin code"
                placeholder="Pin Code"
              />
              <button
                type="submit"
                class="btn btn-dark"
                [disabled]="spinner || !searchForm.valid"
              >
                Get
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Error Message -->
  <div class="container mt-5" *ngIf="errorMsg">
    <div class="col-sm-5 mt-5 px-2 mx-auto">
      <div
        class="alert alert-light shadow rounded-3 show"
        role="alert"
        *ngIf="errorMsg"
      >
        <strong>Error Occured!</strong> {{ errorMsg }} .
      </div>
    </div>
  </div>
  <!-- Page info -->
  <div class="container mt-3" *ngIf="errorStatus != 'Success'">
    <div class="row">
      <div class="col-12 p-3">
        <h5>Tips for Usage *</h5>
        <ul class="ms-2">
          <li>
            In this page you can search any Postal <small>( pincode )</small> in
            <b>India</b>.
          </li>
          <li>Postal code must in <q>6</q> digits to search the data.</li>
          <li>
            Once you click the <b>Get</b> button, your query will be process and
            the data will appear below.
          </li>
          <li>
            The data card contains some useful details like, ( area name,
            district, block, and etc..)
          </li>
          <li>
            Also the data card contains <b><i>navigation link</i></b> button to
            navigate the respective Post Office.
          </li>
        </ul>
        <h6 class="ms-2">Good Search :</h6>
        <p class="ms-4">For example &RightArrow; 629501</p>
      </div>
    </div>
  </div>
  <!-- Output section -->
  <div
    *ngIf="errorStatus == 'Success'"
    class="container mb-5 rounded-3 py-4 mt-2"
  >
    <div class="row mb-3 px-2">
      <div class="col p-1 px-3 pt-3" *ngFor="let list1 of arrRes">
        <h2 class="text-dark">
          <strong>Your Query : </strong
          ><span class="text-decoration-underline">{{ pincode }}</span>
        </h2>
        <p class="text-dark">
          <strong>Total List : </strong
          ><span class="text-decoration-underline fw-bold">
            {{ list1.Message | split }}</span
          >
        </p>
      </div>
    </div>
    <div class="row px-3 px-md-0" *ngFor="let list of arrRes">
      <div
        class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-3"
        *ngFor="let subList of list.PostOffice"
      >
        <div class="card rounded-4 bg-white shadow">
          <div class="card-body">
            <div class="d-flex">
              <h5 class="card-title">{{ subList.Name }}</h5>
              <a
                href="https://google.com/maps?q={{
                  subList.Name
                }}%20Post%20Office"
                class="btn btn-warning"
                target="_blank"
                rel="noopener noreferrer"
                title="location"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ionicon"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M256 32C167.67 32 96 96.51 96 176c0 128 160 304 160 304s160-176 160-304c0-79.49-71.67-144-160-144zm0 224a64 64 0 1164-64 64.07 64.07 0 01-64 64z"
                  />
                </svg>
              </a>
            </div>
            <hr />
            <div class="table">
              <tbody>
                <tr>
                  <th>Country</th>
                  <td>{{ subList.Country }}</td>
                </tr>
                <tr>
                  <th>Division</th>
                  <td>{{ subList.Division }}</td>
                </tr>
                <tr>
                  <th>Region</th>
                  <td>{{ subList.Region }}</td>
                </tr>
                <tr>
                  <th>Block</th>
                  <td>{{ subList.Block }}</td>
                </tr>
                <tr>
                  <th>District</th>
                  <td>{{ subList.District }}</td>
                </tr>
                <tr>
                  <th>State</th>
                  <td>{{ subList.State }}</td>
                </tr>
                <tr>
                  <th>Pincode</th>
                  <td>{{ subList.Pincode }}</td>
                </tr>
                <tr>
                  <th>Delivery</th>
                  <td>{{ subList.DeliveryStatus }}</td>
                </tr>
                <tr>
                  <th>Circle</th>
                  <td>{{ subList.Circle }}</td>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Loading Animation -->
<div class="container-fluid loading-anim" *ngIf="spinner">
  <div class="bg-white">
    <p class="fs-3 fw-light text-center">Getting data ...</p>
    <span class="spinner-border" role="status" aria-hidden="true"></span>
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="container-fluid bg-light">
    <div class="row py-3 py-sm-4 py-md-5 px-3 px-sm-4 px-md-5">
      <div class="col-12 col-md-6 py-2 py-sm-3 py-md-4 px-2 px-sm-3 px-md-4">
        <h4>Postal Code Finder</h4>
        <p>
          <small>
            Designed and built for project purpose. Myself <b>Prasath</b> (LP),
            <b><i>Web Developer</i></b
            >.To know more about me
            <a
              href="https://lp-user1.github.io"
              target="_blank"
              rel="noopener noreferrer"
              >Click here</a
            >
            👈🏻
          </small>
        </p>
        <p>
          <small>
            All data has been gather from official <b>India's</b> Postal
            Service.
          </small>
        </p>
        <p>
          <small>All rights reserved @ {{ cYear }}</small>
        </p>
      </div>
      <div class="col-12 col-sm-6 py-2 py-sm-3 py-md-4 px-2 px-sm-3 px-md-4">
        <h4>Links</h4>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://lp-user1.github.io"
              class="fsmall"
              target="_blank"
              rel="noopener noreferrer"
              >Portfolio</a
            >
          </li>
          <li>
            <a
              href="https://lp-user1.github.io/RTO-Finder"
              class="fsmall"
              target="_blank"
              rel="noopener noreferrer"
              >RTO Finder</a
            >
          </li>
          <li>
            <a
              href="https://github.com/LP-user1"
              class="fsmall"
              target="_blank"
              rel="noopener noreferrer"
              >Github Profile</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
